*::before *::after {
    box-sizing: border-box;
    font-weight: normal;
    font-family: sans-serif;
}

body{
  background: linear-gradient(to right,pink,white);
  padding : 0;
  margin : 0
}

.calculator-grid{
  display : grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4,100px);
  grid-template-rows: minmax(120px,auto) repeat(5,100px);
}

.calculator-grid > button{
  cursor: pointer;
  outline: none;
  font-size: 2rem;
  border: 1px solid white;
  background-color: darkgrey;
}

.calculator-grid > button:hover{
  background-color: white;
}

.two-spaces{
  grid-column: span 2;
}
.output{
  grid-column: 1/-1;
  display: flex;
  background-color: black;
  justify-content:space-around;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;

}

.output .previous-operand{
   color: ghostwhite;
   font-size: 1.5rem;
}

.output .current-operand{
  color: ghostwhite;
  font-size:2.5rem;
}